%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "master"}},
    {social_api, ".*", {git, "git://github.com/chaos-ad/social_api.git", "master"}},
    {emysql, ".*", {git, "git://github.com/Eonblast/Emysql.git", "master"}}
]}.
{cover_enabled, false}.

