[
    %% Dreambook app configuration:
    {dreambook, [
        {db_server, [{payment_products, [{"IDDQD", 100}]}]},
        {json_server, [{port, "8080"}]}
    ]},

    %% SocialAPI configuration:
    {social_api, [
        {network,               odnoklassniki},
        {app_id,                "CBACJLABABABABABA"},
        {secret_key,            "B0DBC092EB43EDDBC011075B"},
        {server_options,        [{ip, "0.0.0.0"}, {port, "8099"}, {mode, parsed}]}
    ]},

    %% SASL configuration:
    {sasl, [
%         {sasl_error_logger, {file, "log/sasl-error.log"}},
%         {errlog_type, error},
%         {error_logger_mf_dir, "log/sasl"},
%         {error_logger_mf_maxbytes, 10485760},
%         {error_logger_mf_maxfiles, 5}
    ]}
].
